<h1 class="text-center">Welcome To Cheerups!</h1>

<h3 class="text-center">Thank you for visiting Cheerups - a site of encouragement.</h3>

<br>
<br>

<h3>Join the Cheerups community:</h3>

<p>It’s easy to join Cheerups - you can create an account with an email address.</p>

<h3>How to use:</h3>

<p>Using Cheerups couldn’t be simpler - just enter your message of 140 characters or less and hit go.</p>
<p>You can upload an image too! To read what the community is saying, you can view random Cheerups or sort them by popularity.</p>

<h3>Voting and favorites:</h3>

<p>You have the ability to up-vote or down-vote a post.  This will effect it's popularity.</p>
