<h1>Welcome To Cheerups!</h1>

<h1>Thank you for visiting Cheerups - a site of encouragement.</h1>

<h1>Join the Cheerups community:

It’s easy to join Cheerups - you can create an account with an email address.</h1>

<h1>How to use:

Cheeringup couldn’t be simpler - just enter your message of 140 characters or less and hit go.
You can even upload an image too! To read what the community is saying, you can view random Cheerups or sort them by popularity.</h1>
