<!-- <h1>Index#new</h1>
<p>Find me in app/views/images/index.html.erb</p>
 -->

<!DOCTYPE html>
<html>
  <head>
  </head>
<body>

  <div id="content">
  </div>

  <div id="wrapper">
  </div>

  <section>

  <div class='button-group' id='display_methods'>

  <label>

  <input checked="checked" id="button-group_random" name="button-group" type="radio">

  <a href="" class="button-group-item">Random</a>

  </label>

</body>
</html>
