<!-- <h1>Images#show</h1>
<p>Find me in app/views/images/show.html.erb</p>
 -->


 <p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
